@import "../../../styles//partials/main";


.section {
    background: linear-gradient(249.4deg, #4D3FFF 9.96%, #CB757C 93.49%);
    text-align: center;
    // padding-top: vw(40);
    height: vw(1258);
}

.sectionContainer {
    padding-bottom: vw(260);
}

.watermark {}

.sectionContent {
    display: flex;
    // align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: vw(140);
    padding-top: vw(56);
    padding-inline: vw(63);
    padding-inline-start: vw(63);
}

.studioInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.logo {
    // align-self: center;
    padding-bottom: vw(88);
}

.studioInfoContent {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.studioIntroduction {
    color: white;
    font-family: var(--font-din-condensed-regular);
    font-size: vw(18);
    text-align: left;
    padding-inline-end: 35%;


}

.cta {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: vw(22);
    width: 100%;
    margin-top: vw(60);
    color: white;
    // margin-right: 70px;
    // margin-inline-start: vw(120);

}

.lastTitleText {
    font-family: var(--font-din-condensed-bold);
    font-size: vw(18);
    font-weight: 700;
    line-height: normal;
    letter-spacing: vw(3.24);
    text-transform: uppercase;
}

.images {
    position: relative;

    // img {
    //     width: 100%;
    //     height: auto;
    // }

    &:nth-child(2) {
        // position: relative;
        // top: 10%;

        // position: absolute;
        // left: -5%;
        // bottom: -29%;
    }

    .bImage {
        position: absolute;
        left: -5%;
        bottom: -29%;
    }
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // gap: vw(140);
    // padding-inline: vw(63);
    padding-top: vw(263);
    padding-inline: vw(63);
    height: 100vh;

    // position: absolute;
}

.card {
    position: relative;
    height: vw(630);
    width: vw(693);
}

.cardImage {}

.cardInfo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    // width: fit-content;
    /* Adjust as needed */
    height: fit-content;
    /* Adjust as needed */
    color: white;
    // background-color: blue;
    text-align: center;
    padding: 1rem;

    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    // margin-top: calc(128 / var(--base-vw)* 100vw);
    color: white;
    // font-family: var(--font-din-condensed-regular);
    // font-size: calc(18 / var(--base-vw)* 100vw);
    // text-align: center;
}


.cardTitle {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    margin-top: vw(50);
    font-family: var(--font-din-condensed-bold);
    font-size: vw(50);
    line-height: vw(55);
    letter-spacing: vw(9);
    text-transform: uppercase;
}

.cardDescription {
    font-family: var(--font-din-condensed-regular);
    font-size: vw(16);
    line-height: vw(27.2);
    // letter-spacing: vw(1.8);
    padding-inline: vw(50);
    text-align: center;
    margin-top: vw(30);
}


.label {
    // position: absolute;
    // top: -52%;
    // left: 16%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: vw(14);
    text-align: right;
    width: 100%;
    margin-top: vw(50);

    padding-top: vw(50);
    padding-left: vw(50);
}

.labelText {
    // margin-inline-start: vw(120);
    letter-spacing: 2.7px;
    text-transform: uppercase;
    font-family: var(--font-din-condensed-bold);

}

.labelLine {
    width: 42px;
    height: 1px;
    background-color: white;
}

.cardInfoContent {
    // position: absolute;
    // top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cardCta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: vw(22);
    width: 100%;
    margin-top: vw(60);
    color: white;
    // margin-right: 70px;
    // margin-inline-start: vw(120);
}




.lastTitleText {
    font-family: var(--font-din-condensed-bold);
    font-size: vw(18);
    font-weight: 700;
    line-height: normal;
    letter-spacing: vw(3.24);
    text-transform: uppercase;
}