@import "../../../styles//partials/main";

.section {
    // position: fixed;
    position: absolute;
    width: 100%;
    // padding: vw(64);
    color: var(--white);
    top: 0;
    left: 0;
    z-index: 9999;
}


.sectionContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: vw(64);
    padding-block: vw(35);
    // padding-inline-end: vw(40);
}


.headerMenu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: vw(47);
    min-width: 40%;
    font-family: var(--font-din-condensed-regular);
    font-size: vw(14);
    // font-weight: 500;
    line-height: normal;
    letter-spacing: vw(1.8);
    text-transform: uppercase;
}


.sectionLogo {
    position: relative;
    width: vw(91);
    height: vw(61);
    margin: 0 auto;

    img {
        object-fit: contain;
    }
}


.headerButton {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: vw(20);
    min-width: 45%;
    // min-width: 40%;
}


.cta {
    display: inline-flex;
    align-items: center;
    gap: vw(10);
    padding: vw(24) vw(41) vw(21) vw(40);
    background-color: var(--violet);
    font-size: vw(14);
    font-family: var(--font-alfont-regular);
    text-transform: uppercase;
    // line-height: 1;
    letter-spacing: 0.11em;
}